---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/amazon.amazon?access_key=161e4ba7ff7632737e8af4855cbca56f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - de860515-287a-4816-a812-2772f082396a
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '87'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.103'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Fri, 17 May 2024 20:28:12 GMT
recorded_with: VCR 6.2.0
