---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/sofomo.com?access_key=161e4ba7ff7632737e8af4855cbca56f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 132a2d55-40cf-486f-8ce6-1d26d919b2b6
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '86'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.039'
    body:
      encoding: UTF-8
      string: '{"ip": "172.67.70.227", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "San Francisco", "zip": "94107",
        "latitude": 37.76784896850586, "longitude": -122.39286041259766, "location":
        {"geoname_id": 5391959, "capital": "Washington D.C.", "languages": [{"code":
        "en", "name": "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Fri, 17 May 2024 20:32:38 GMT
recorded_with: VCR 6.2.0
