---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/sofomo.sofomo?access_key=161e4ba7ff7632737e8af4855cbca56f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 4bb23e94-8f69-416a-8933-680f527d03e3
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '85'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.064'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Fri, 17 May 2024 20:32:39 GMT
recorded_with: VCR 6.2.0
