---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/sofomo.com?access_key=161e4ba7ff7632737e8af4855cbca56f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 5f1bf65f-7295-44b1-b823-75dfefc2f3a8
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '80'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.055'
    body:
      encoding: UTF-8
      string: '{"ip": "104.26.7.84", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "VA", "region_name": "Virginia", "city": "Ashburn", "zip": "20147", "latitude":
        39.043701171875, "longitude": -77.47419738769531, "location": {"geoname_id":
        4744870, "capital": "Washington D.C.", "languages": [{"code": "en", "name":
        "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Sun, 19 May 2024 09:42:23 GMT
recorded_with: VCR 6.2.0
