---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/google?access_key=161e4ba7ff7632737e8af4855cbca56f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 92552817-12dd-4a42-88b4-1bbfdf7abf00
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '84'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.063'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Fri, 17 May 2024 20:40:20 GMT
recorded_with: VCR 6.2.0
