---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/sofomo.com?access_key=161e4ba7ff7632737e8af4855cbca56f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 9a245d6d-6ceb-455c-9513-e2929123f207
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '97'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.038'
    body:
      encoding: UTF-8
      string: '{"ip": "104.26.6.84", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "San Jose", "zip": "95122", "latitude":
        37.330528259277344, "longitude": -121.83822631835938, "location": {"geoname_id":
        5392171, "capital": "Washington D.C.", "languages": [{"code": "en", "name":
        "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Fri, 17 May 2024 06:50:57 GMT
recorded_with: VCR 6.2.0
