---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/https://sofomo.com?access_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "missing_access_key",
            "info": "You have not supplied an API Access Key. [Required format: access_key=YOUR_ACCESS_KEY]"
          }
        }
  recorded_at: Fri, 17 May 2024 06:46:21 GMT
recorded_with: VCR 6.2.0
